venv/
processed/
storages/
*.txt
.env
**/__pycache__/
*.pth
eval.sh

visualizations/

results/

datasets/fintabnet/

datasets/tatdqa/*
!datasets/tatdqa/process_tatdqa.py

datasets/spiqa/*
!datasets/spiqa/process_spiqa.py

datasets/mpdocvqa/*
!datasets/mpdocvqa/process_mpdocvqa.py

datasets/wikitq/*
!datasets/wikitq/process_wikitableqa.py
!datasets/wikitq/process_wikitq.py

datasets/tablevqa/*
!datasets/tablevqa/process_tablevqa.py

datasets/comtqa/*
!datasets/comtqa/process_comtqa.py
!datasets/comtqa/process_qa.py

datasets/finqa/*
!datasets/finqa/metadata.jsonl

torchinductor_js2723/