venv/
processed/
storages/
*.txt
.env
**/__pycache__/
*.pth
eval.sh

visualizations/

results/

# Ignore dataset contents by default.
datasets/**

# Allow Git to traverse dataset directories.
!datasets/**/

# Track only JSON and JSONL dataset metadata/annotations.
!datasets/**/*.json
!datasets/**/*.jsonl
!datasets/*.json
!datasets/*.jsonl

datasets/tatdqa/test/
datasets/comtqa/annotated.json

eval/
generate_icl_markdown.py
generate_icl_text.py
retrieval_to_gen.py
transform.py

datasets/comtqa/annotated.json

datasets.zip