venv/
processed/
storages/
*.txt
.env
**/__pycache__/
*.pth
visrag/
unused/
interactive.py
eval.sh
run.sh

visualizations/

datasets/fintabnet/

datasets/tatdqa/*
!datasets/tatdqa/process_tatdqa.py

datasets/spiqa/*
!datasets/spiqa/process_spiqa.py

datasets/mpdocvqa/*
!datasets/mpdocvqa/process_mpdocvqa.py

datasets/wikitablequestions/*
!datasets/wikitablequestions/process_wikitableqa.py
!datasets/wikitablequestions/process_wikitq.py

datasets/tablevqa/*
!datasets/tablevqa/process_tablevqa.py